@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */

html body {
  overflow-y: visible;
}

/* Modo Claro */
html.light {
  --bg-color: #3566b6;
  --text-color: white;
  --text-color-2: white;
  --text-color-title-3: #ffffff;
  --text-color-3: #ffffff;
  --cards-menu-bg: #2c958c;
  --cards-menu-text: #ffffff;
  --cards-menu-title: #ffcc00;
  --cards-menu-bg-2: #3566b6;
  --cards-menu-text-2: #e0e0e0;
  --dark-title: #ffcc00;
  --card-background: #2c958c;
  --card-background-2: #e0a3c0;
  --text-color-btn: white;
  --button-bg-color: #174082;
  --button-bg-color2: #174082;
  --section-diferent: #2c958c;
  --footer-diferent: #2c958c;
  --text-price: #ffcc00;
  --text-color-title-4: #ffffff;
  --text-subtitle-4: #ffffff;
  --text-color-menu: #ffffff;
  --bg-color-menu: #3566b6;
}

/* Modo Escuro */
html.dark {
  --bg-color: #2e2c54;
  --text-color: #ffffff;
  --text-color-2: #000000;
  --cards-menu-bg: #38365e;
  --cards-menu-text: #e0e0e0;
  --cards-menu-title: #ffcc00;
  --cards-menu-bg-2: #866fe2;
  --cards-menu-text-2: #e0e0e0;
  --dark-title: #ffcc00;
  --card-background: #38365e;
  --button-bg-color: #866fe2;
  --text-color-btn: white;
  --button-bg-color2: #ffcc00;
  --text-color-title-3: white;
  --text-color-3: white;
  --text-color-title-4: #3c22a5;
  --section-diferent: #ffcc00;
  --footer-diferent: #2e2c54;
  --text-price: #ffcc00;
  --text-subtitle-4: black;
  --text-color-menu: white;
  --bg-color-menu: #38365e;
}

/* Aplicação das variáveis CSS no corpo */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.card-menu-background {
  background-color: var(--bg-color-menu);
  color: var(--text-color-menu);
}
.text-subtitle-4 {
  color: var(--text-subtitle-4);
}
.price-card {
  color: var(--text-price);
}
.footer-section {
  background-color: var(--footer-diferent);
}
.about-us {
  background-color: var(--section-diferent);
}
.text-title-4 {
  color: var(--text-color-title-4);
}
.text-title-3 {
  color: var(--text-color-title-3);
}
.text-subtitle-3 {
  color: var(--text-color-3);
}
.button-bg-color2 {
  background-color: var(--button-bg-color2);
  color: var(--text-color-2);
}
.button-bg-color {
  background-color: var(--button-bg-color);
  color: var(--text-color);
}
.card-background {
  position: relative;
  background-color: var(--card-background);
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
    0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
  will-change: transform, box-shadow;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  backface-visibility: hidden;
}

.card-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: inherit;
  z-index: -1;
  transition: filter 0.3s ease;
  filter: brightness(1);
}

.card-background:hover::before,
.card-background:focus::before {
  filter: brightness(1.1);
}

.card-background:hover,
.card-background:focus {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
  outline: none;
}

.dark-title {
  color: var(--dark-title);
}
.CardsMenu .bg-white {
  background-color: var(--cards-menu-bg);
}
.botao button {
  background-color: var(--cards-menu-bg-2) !important;
  color: var(--cards-menu-text-2);
}
.botao button:hover {
  background-color: var(--cards-menu-bg-2) !important;
  color: var(--cards-menu-text-2);
}

.CardsTextoMenu p {
  color: var(--cards-menu-text);
}
.CardsTextoMenu h2 {
  color: var(--cards-menu-title) !important;
}
strong {
  color: var(--text-color);
}
.slick-prev,
.slick-next {
  display: flex !important;
}
h1,
h3,
h4 {
  color: var(--text-color);
}
.merda {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.merda2 {
  background-color: var(--bg-color);
  color: var(--text-color);
}
a {
  transition: color 0.3s ease;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
a:hover {
  color: #4b8bff;
}

@media (max-width: 640px) {
  .react-icons {
    font-size: 32px;
  }
}

.menu-item {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  height: 100%;
}

.menu-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  border-radius: 8px;
}

.menu-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.menu-item img:hover {
  transform: scale(1.05);
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.item-actions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
}

.item-actions a,
.item-actions button {
  width: 100%;
  max-width: 288px;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.item-actions a {
  background-color: #f59e0b;
  color: white;
}

.item-actions a:hover {
  background-color: #d97706;
}

.item-actions button {
  background-color: #10b981;
  color: white;
}

.item-actions button:hover {
  background-color: #059669;
}

/* Media Queries */

/* Para dispositivos móveis */

/* Landscape Mode */
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .CardsMenu {
    grid-template-columns: 1fr !important;
    gap: 12px;
  }

  .CardsMenu .bg-white {
    max-width: 100%;
    width: 100%;
    flex-direction: row;
    position: relative;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 20px;
  }

  .CardsMenu .bg-white:hover {
    animation: rainbow-border 3s ease-in-out infinite;
  }

  /* Animação de borda arco-íris usando box-shadow */
  @keyframes rainbow-border {
    0% {
      box-shadow: 0 0 15px 5px rgba(255, 0, 0, 1);
    }
    14% {
      box-shadow: 0 0 15px 5px rgba(255, 165, 0, 1);
    }
    28% {
      box-shadow: 0 0 15px 5px rgba(255, 255, 0, 1);
    }
    42% {
      box-shadow: 0 0 15px 5px rgba(0, 255, 0, 1);
    }
    57% {
      box-shadow: 0 0 15px 5px rgba(0, 0, 255, 1);
    }
    71% {
      box-shadow: 0 0 15px 5px rgba(75, 0, 130, 1);
    }
    85% {
      box-shadow: 0 0 15px 5px rgba(238, 130, 238, 1);
    }
    100% {
      box-shadow: 0 0 15px 5px rgba(255, 0, 0, 1);
    }
  }
  @keyframes gradientAnimation {
    0% {
      box-shadow: 0 0 15px 5px rgba(255, 0, 0, 1);
    }
    14% {
      box-shadow: 0 0 15px 5px rgba(255, 165, 0, 1);
    }
    28% {
      box-shadow: 0 0 15px 5px rgba(255, 255, 0, 1);
    }
    42% {
      box-shadow: 0 0 15px 5px rgba(0, 255, 0, 1);
    }
    57% {
      box-shadow: 0 0 15px 5px rgba(0, 0, 255, 1);
    }
    71% {
      box-shadow: 0 0 15px 5px rgba(75, 0, 130, 1);
    }
    85% {
      box-shadow: 0 0 15px 5px rgba(238, 130, 238, 1);
    }
    100% {
      box-shadow: 0 0 15px 5px rgba(255, 0, 0, 1);
    }
  }

  /* Ajuste da imagem para ocupar todo o espaço disponível sem esticar */
  .CardsMenu img {
    width: 50%;
    flex-direction: row;
    object-fit: cover;
  }

  /* Ajuste do texto e das fontes */
  .CardsTextoMenu h2 {
    font-size: 1.25rem;
    flex-direction: row; /* Tamanho menor para o título */
  }

  .CardsTextoMenu p {
    font-size: 0.875rem;
    flex-direction: row; /* Tamanho menor para os textos */
  }
}

@media (min-width: 320px) and (max-width: 548px) {
  .cart-item {
    flex-direction: row;
  }
}
/* Portrait Mode */
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .CardsTextoMenu p {
    font-size: 14px;
    line-height: 1.2;
  }

  .CardsTextoMenu {
    font-size: 14px;
  }

  .CardsTextoMenu h2 {
    font-size: 20px;
  }

  .CardsMenu {
    width: 92.5%;

    margin: auto;
  }
  .CardsMenu .bg-white {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 12px; /* Arredonda a borda do card */
  }
  .CardsMenu img {
    height: 20%;
  }

  /* Efeito de hover com borda arco-íris */
  .CardsMenu .bg-white:hover {
    animation: rainbow-border 3s ease-in-out infinite; /* Torna a animação mais suave */
  }
  .cart-item {
    flex-direction: row;
  }

  /* Animação de borda arco-íris usando box-shadow */
  @keyframes rainbow-border {
    0% {
      box-shadow: 0 0 15px 5px rgba(255, 0, 0, 1);
    }
    14% {
      box-shadow: 0 0 15px 5px rgba(255, 165, 0, 1);
    }
    28% {
      box-shadow: 0 0 15px 5px rgba(255, 255, 0, 1);
    }
    42% {
      box-shadow: 0 0 15px 5px rgba(0, 255, 0, 1);
    }
    57% {
      box-shadow: 0 0 15px 5px rgba(0, 0, 255, 1);
    }
    71% {
      box-shadow: 0 0 15px 5px rgba(75, 0, 130, 1);
    }
    85% {
      box-shadow: 0 0 15px 5px rgba(238, 130, 238, 1);
    }
    100% {
      box-shadow: 0 0 15px 5px rgba(255, 0, 0, 1);
    }
  }
  @keyframes gradientAnimation {
    0% {
      box-shadow: 0 0 15px 5px rgba(255, 0, 0, 1);
    }
    14% {
      box-shadow: 0 0 15px 5px rgba(255, 165, 0, 1);
    }
    28% {
      box-shadow: 0 0 15px 5px rgba(255, 255, 0, 1);
    }
    42% {
      box-shadow: 0 0 15px 5px rgba(0, 255, 0, 1);
    }
    57% {
      box-shadow: 0 0 15px 5px rgba(0, 0, 255, 1);
    }
    71% {
      box-shadow: 0 0 15px 5px rgba(75, 0, 130, 1);
    }
    85% {
      box-shadow: 0 0 15px 5px rgba(238, 130, 238, 1);
    }
    100% {
      box-shadow: 0 0 15px 5px rgba(255, 0, 0, 1);
    }
  }
}

/* Para tablets pequenos (600px - 768px) */
@media (min-width: 600px) and (max-width: 768px) {
  .cart-item {
    flex-direction: row;
  }
  .menu-item {
    margin-bottom: 16px;
    height: 100%;
  }

  .menu-item img {
    height: 180px;
  }

  .item-actions {
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
  }

  .item-actions a,
  .item-actions button {
    width: 48%;
    margin-bottom: 0;
  }

  .item-details h2 {
    font-size: 1.4rem;
  }

  .item-details p {
    font-size: 1rem;
  }
  .CardsMenu {
    width: 90%;
    margin: auto;
  }
}

/* Para tablets grandes (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .menu-item {
    margin-bottom: 20px;
  }

  .menu-item img {
    height: 200px;
  }

  .item-actions {
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
  }

  .item-actions a,
  .item-actions button {
    width: 48%;
  }

  .item-details h2 {
    font-size: 1.6rem;
  }

  .item-details p {
    font-size: 1.1rem;
  }
  .CardsMenu {
    width: 90%;
  }
}

/* Para desktops (acima de 1024px) */
@media (min-width: 1024px) {
  .cart-item {
    flex-direction: row;
  }
  .menu-item img {
    height: 220px;
  }

  .item-actions {
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
  }

  .item-actions a,
  .item-actions button {
    width: 120px;
  }

  .item-details h2 {
    font-size: 1.8rem;
  }

  .item-details p {
    font-size: 1.2rem;
  }

  .CardsMenu .bg-white {
    max-width: 100%;
    width: 100%;

    transition: all 0.3s ease-in-out;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 12px; /* Arredonda a borda do card */
  }
  .CardsMenu .bg-white:hover {
    animation: rainbow-border 3s ease-in-out infinite; /* Torna a animação mais suave */
  }

  /* Efeito de hover */
  .animate-rgb-gradient {
    border: solid 4px white; /* Borda escura */
    padding: 20px; /* Espaçamento interno */
    border-radius: 12px; /* Bordas arredondadas */
  }
  /* Animação de borda arco-íris usando box-shadow */
  @keyframes rainbow-border {
    0% {
      box-shadow: 0 0 15px 5px rgba(255, 0, 0, 1);
    }
    14% {
      box-shadow: 0 0 15px 5px rgba(255, 165, 0, 1);
    }
    28% {
      box-shadow: 0 0 15px 5px rgba(255, 255, 0, 1);
    }
    42% {
      box-shadow: 0 0 15px 5px rgba(0, 255, 0, 1);
    }
    57% {
      box-shadow: 0 0 15px 5px rgba(0, 0, 255, 1);
    }
    71% {
      box-shadow: 0 0 15px 5px rgba(75, 0, 130, 1);
    }
    85% {
      box-shadow: 0 0 15px 5px rgba(238, 130, 238, 1);
    }
    100% {
      box-shadow: 0 0 15px 5px rgba(255, 0, 0, 1);
    }
  }
  @keyframes rgbFull {
    0% {
      border-color: rgb(255, 0, 0); /* Vermelho */
    }
    20% {
      border-color: rgb(255, 165, 0); /* Laranja */
    }
    40% {
      border-color: rgb(255, 255, 0); /* Amarelo */
    }
    60% {
      border-color: rgb(0, 255, 0); /* Verde */
    }
    80% {
      border-color: rgb(0, 0, 255); /* Azul */
    }
    100% {
      border-color: rgb(75, 0, 130); /* Roxo */
    }
  }
}
